.docs-root {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.docs-container {
    width: 80%;
    height: 80%;
    display: flex;
    all: unset;
    color:black;
}

.docs-container .glass {
    overflow: hidden;
}
