.card {
    width: 23vw;
    height: 45vh;
    transition: 0.25s ease-in-out;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    overflow: hidden;

    /* Adding in the old glass for the time being */
    background: rgba(0, 0, 0, 0.35);
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);
    box-shadow: 0 0 32px rgba(0, 0, 0, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.15);
}

.card:hover {
    transform: scale(1.10);
    cursor: pointer;
}

.course-preview-header {
    padding-top: 1em;
    padding-bottom: 1em;
    height: 20%;
    overflow: hidden;
}

.card h1, .card h2 {
    margin: 0;
    overflow-wrap: break-word;
    text-wrap: balance;
}

.card span {
    font-weight: bold;
    color: white;
    text-align: center;
    display: block;
    font-size: 1.2em;
    margin-top: 0.3em;
}

.card div {
    padding-left: 1em;
    padding-right: 1em;
}

.card .author {
    font-weight: 350;
    color: white;
    font-size: 1em;
    margin: 0.2em 0 0.5em 0;
}

.card .categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    gap: 0.40em;
    margin: 0.5em 0;
}

.card .category {
    background-color: #e0e0e0;
    color: #171717;
    font-size: 0.85em;
    padding: 0.35em 0.75em;
    border-radius: 10px;
    font-weight: 500;
    box-shadow: inset 2px 2px 5px rgba(188, 188, 188, 0.7),
                inset -2px -2px 5px rgba(255, 255, 255, 0.7);
}

.card .share {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-top: auto;
}

.card a {
    color: white;
    transition: .4s ease-in-out;
    font-size: 1.5em;
}

.card a:hover {
    color: #0d1b4c;
}

.card button {
    padding: 0.8em 1.7em;
    display: block;
    margin: 0.5em auto 0 auto;
    border-radius: 25px;
    border: none;
    font-weight: bold;
    font-size: .75em;
    background: #ffffff;
    color: rgb(0, 0, 0);
    transition: .4s ease-in-out;
}

.card button:hover {
    background: #0d1b4c;
    color: white;
    cursor: pointer;
}
