.course-preview.card {
    width: 100%;
    display: flex;
    flex-direction: column;
    transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
    margin: 0px; 
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    /* you can use this to fake a tint. Kind of lol
    /* background: rgba(167, 165, 165, 0.55);  */
}

.course-preview.card:hover {
    transform: translateY(-5px);
    background: rgba(15, 20, 25, 0.65);
    box-shadow: 0 15px 45px rgba(0, 0, 0, 0.4);
}

.course-preview .glass-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 2;
}

.course-preview-header {
    padding: 1.5rem 1.2rem 0.5rem 1.2rem; 
    min-height: 20%;
    width: 100%;
    box-sizing: border-box;
    background: linear-gradient(to bottom, rgba(0,0,0,0.25), transparent);
}


.course-preview-header h1 {
    margin: 0;
    font-size: 1.8rem;
    line-height: 1.1;
    color: white;
    text-shadow: 0 2px 8px rgba(0,0,0,0.4);
}

.card .author {
    font-weight: 350;
    font-size: 1rem;
    margin-top: 6px;
    color: rgba(255, 255, 255, 0.75);
}

.tags {
    display: flex;
    flex-wrap: wrap;      
    flex-direction: row;  
    justify-content: flex-start;
    gap: 8px;
    padding: 0.5rem 1.2rem;
    margin: 0;
    max-height: 75px;    
    overflow-y: auto;     
    scrollbar-width: none;
}

.tags::-webkit-scrollbar {
    display: none;
}

.tag {
    width: fit-content;
    text-align: center;
    font-size: 0.75rem !important;
    border-radius: 50px !important;
    margin: 0 !important;
    border: 1px solid rgba(255, 255, 255, 0.2) !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.tag .glass-content-container {
  display: flex;
  justify-content: center;
}

.tag .glass-content { 
    font-weight: 600;
    white-space: nowrap;
    padding: 4px;
}

.course-description {
    padding: 0.5rem 1.2rem 1.5rem 1.2rem;
    flex: 1;
    overflow-y: auto;
    mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
}

.course-description h2 {
    font-size: 1.1rem;
    margin: 5px 0 5px 0;
    color: white;
    font-weight: 600;
}

.course-description p {
    margin: 0;
    font-size: 0.9rem;
    line-height: 1.55;
    color: rgba(255, 255, 255, 0.9);
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}
