.author-searcher {
    max-width: 60%;
    margin-left: auto;  
    margin-right: auto; 
    margin-top: 1em;
    padding: 6px;
}

.author-searcher .glass-content {
  display: flex;
  justify-content: center;
  gap: 6px;
}

.author-searcher input {
  box-shadow: none;
  background: hsla(0,0%,0%,.12);
  padding-left: 4px;
  box-sizing: border-box;
  color: white;
}


/* defaults to black, make it white for consistency */
.glass::placeholder {
    color: white;
    opacity: 0.8;
}

.author-searcher button {
  color: white;
}
