.author-searcher {
    max-width: 60%;
    margin-left: auto;  
    margin-right: auto; 
    margin-top: 1em;
}


/* defaults to black, make it white for consistency */
.glass::placeholder {
    color: white;
    opacity: 0.8;
}
