.avatar{
    width: 150px;
    height: 150px;
    
    /* circular */
    border-radius: 50%; 
    
    /* Optional: ensure the image covers the area without distortion */
    object-fit: cover; 
}

.avatarContainer {
  width: 155px;
  height: 155px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
