.author-page {
    text-align: center;
    margin-bottom: 2em;
}

.author-title {
    display: flex; 
    align-items: center;
    justify-content: flex-start; 
    padding-left: 3rem;
    margin-top: 1rem;
    width: 100%;
    box-sizing: border-box;
}

.author-title a {
  border-bottom: none;
}

.author-title a:hover {
  background: none;
}

.author-title .glass-content-container {
  overflow: visible;
}

.author-title h1 {
    margin-left: 2rem;
    font-size: 4em;
    color: #171717;
    margin-top: 0;
    margin-bottom: 0;
}

.gh-logo {
    margin-left: 1rem;
    width: 3em;
    height: 3em;
    transition: transform 0.2s ease;
}

.gh-logo:hover {
    transform: scale(1.1);
}

.courses-title {
    margin-left: 3.5rem;
    margin-bottom: 0;
    text-align: left;
}

