.courses-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
    gap: 2em;
    padding: 2em;
    align-items: start;
    overflow-wrap: break-word;
    width: 80vw;
}
