.courses-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20vw, 1fr));
    gap: 2em;
    width: 100vw;
    box-sizing: border-box;
    overflow: auto;
    padding: 2em;
}


.page-buttons-container {
    display: flex;
    justify-content: center;
}

.page-buttons-container .glass .glass-content {
    /* Display Horizontally */
    display: flex;
    justify-content: center;
    width: 4em;
    height: 3em;
    color: white;
    font-size: 15pt;
    align-items: center;

}

.page-button .glass-content {
    display: flex;
    justify-content: center;
    align-items: center;
}
