.courses-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(20vw, 1fr));
    gap: 2em;
    width: 100vw;
    box-sizing: border-box;
    overflow: hidden;
    padding: 2em;
}
